$timeline-width: 300px;

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  color: #333;
}

#content {
  max-width: 791px;
  margin: auto;
}

.headline {
  font-size: 35px;
  margin-bottom: 30px;
  line-height: 1;

  input {
    @extend .headline;
    font-family: inherit;
    border: 0;
    color: #D0011B;
    background-color: none;
    margin: 0;
  }

  .navButton {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    vertical-align: top;
    text-decoration: underline;
    transition: .3s all;
  }
  
  .navButton:hover {
    color: #D0011B;
    cursor: pointer;
  }

}

.position {
  margin-bottom: 70px;
  position: relative;

  h1 {
    margin: 0 0 10px 0;
    font-size: 22px;
  }

  .current-time {
    position: absolute;
    top: 0;
    right: 0;
    width: $timeline-width;

    .line {
      position: absolute;
      top: 20px;
      border-right: 1px dotted #999;
      height: 100%;
      width: 1px;
      
      .label {
        font-size: 10px;
        position: absolute;
        top: -13px;
        left: -8px;
        color: #222;
      }
    }
  }
}


.story {
  
  margin-bottom: 30px;
 
  .title {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
    position: relative;
  }
  
  .title:after {
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  
  .title:hover {
    text-decoration: underline;
  }
  
  .time-elapsed {

    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: inherit;
    width: 400px;
    margin-right: 20px;
    width: 50px;
    color: #666;
    margin-right: 20px;
    position: relative;
    vertical-align: top;
  }
 
  .timeline {
    width: $timeline-width;
    position: relative;
    height: 6px;
    display: inline-block;
    top: -8px;

    .background-line {
      width: 100%;
      background-color: #eee;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    
    .segment {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #D0011B;
    }
    
    .label {
      font-weight: 300;
      font-size: 10px;
      color: #999;
      position: absolute;
      top: -13px;
      margin-left: -10px;
    }

  }
  
  
}

.story:first-of-type .time-elapsed:before {
  content: "Time in position";
      position: absolute;
      color: #666;
      top: -38px;
      font-size: 11px;
      text-transform: uppercase;
      text-align: left;
}

.story:first-of-type .timeline:before {
  content: "Timeline of day";
      position: absolute;
      color: #666;
      top: -45px;
      font-size: 11px;
      text-transform: uppercase;
      text-align: left;
      width: 50px;
}

.story:first-of-type .label:nth-child(2n-1) {
  display: none;
}

.hidden {
  display: none !important;
}

@media (max-width: 750px) {

  .position {
    .current-time {
      display: none;
    }
  }

  .story {
    .title {
      width: auto;
      white-space: normal;
      margin-bottom: 5px;
    }
  
    .title:after {
      display: none;
    }
  
    .timeline {
      width: 100%;
    }
    
    .time-elapsed {
      display: block;
    }
    
  }
}